/*
    Document   : main
    Created on : Nov 29, 2010, 8:39:50 PM
    Author     : dhorrigan
    Description:
        Purpose of the stylesheet follows.
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End CSS Reset */


/* Base Styles */
body {
	background-color: #F2F2F2;
	margin: 20px;
	font-family: Arial, Tahoma, Geneva, sans-serif;
	font-size: 100%;
	color: #555;
}

h1, h2, h3, h4, h5, h6 {
	color: #333333;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
	margin: 0 0 15px 0;
	padding: 0 0 7px 0;
}

h1 {
	font-size: 150%;
}

h2 {
	font-size: 130%;
	border-bottom: 1px solid #CCC;
}

h3 {
	font-size: 120%;
}

h4 {
	font-size: 110%;
}

h5 {
	font-size: 100%;
}

h6 {
	font-size: 90%;
}

p {
	margin: 0 0 1.5em 0;
	line-height: 1.3em;
}

pre, code {
	padding: 15px;
	background-color: #FFF;
	font-size: 14px;
	display: block;
	line-height: 1.3em;
}
pre {
	border: 3px solid #CCC;
	margin: 0 0 1.5em 0;
}
pre.cli {
    background-color: #121212;
    color: #CCCCCC;
}
a {
	color: #000;
}

ul {
	list-style: disc;
	margin: 0 0 1.5em 0;
}

ol {
	list-style: decimal;
	margin: 0 0 1.5em 0;
}

li {
	margin-left: 2em;
	line-height: 1.5em;
}

dfn, var, samp, kbd {
 font-family: Tahoma, Geneva, sans-serif;
 font-weight: bold;
 font-style: normal;
}

.note {
	background: #FEFCAF;
	border: 3px solid #CCCCCC;
	color: #333333;
	padding: 10px;
}

article {
	padding-top: 10px;
	margin-top: 40px;
	border-top: 3px solid #CCC;
}

/* End Base Styles */

header {
	margin-bottom: 30px;
}

header h1 {
	border-bottom: 1px solid #CCC;
	color: #666;
}

#main-nav {
	width: 200px;
	float: left;
	font-family: Tahoma, Geneva, sans-serif;
}

#main-nav ul {
	list-style: none;
}

#main-nav li {
	margin: 0px;
	font-size: 85%;
	letter-spacing: 1px;
}

#main-nav li ul {
	padding-left: 10px;
	margin: 0px;
}

#main-nav li ul li {
	font-size: 90%;
	letter-spacing: 1px;
}

#main-nav li a {
	display: block;
	padding: 2px 5px;
	text-decoration: none;
}

#main-nav li a:hover {
	background-color: #DDD;
}

#main-nav li a.active {
	font-weight: bold;
}

#main-nav h3 {
	padding: 5px;
	color: #EEE;
	background-color: #444;
	font-weight: normal;
	font-size: 110%;
	margin: 0 0 5px 0;
	cursor: pointer;
}

table {
	margin-bottom: 1.5em;
}

table.method {
	border: 3px solid #CCC;
	width: 100%;
}

table.method td,
table.method th {
	border-collapse: collapse;
	font-size: 85%;
	border: 1px solid #CCC;
}

table.method td,
table.method th {
	padding: 8px;
}

table.method td {
	background-color: #FFF;
}

table.method tbody th {
	text-align: left;
	background-color: #f8f8f8;
}

table.method td pre,
table.method td code {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

table.config {
	border: 3px solid #CCC;
	width: 100%;
}

table.config td,
table.config th {
	border-collapse: collapse;
	font-size: 85%;
	border: 1px solid #CCC;
}

table.config td,
table.config th {
	padding: 8px;
}

table.config td {
	background-color: #FFF;
}

table.config tbody th {
	text-align: left;
	background-color: #f8f8f8;
}

table.config td pre,
table.config td code {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

table tr.header th {
	background-color: #555;
	color: #FFF;
}

table.parameters {
	margin: -5px;
}

th.description {
	width: 100%;
}

th.legend {
	width: 125px;
}

table table {
	font-size: 110%;
}

section#content {
	margin-left: 220px;
}
section#footer p {
	font-size: 14px;
	text-align: right;
}


/* Syntax Highlighting */
/*

Intellij Idea-like styling (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre code {
  display: block; padding: 0.5em;
  color: #000;
  background: #fff;
}

pre .subst,
pre .title {
  font-weight: normal;
  color: #000;
}

pre .comment,
pre .template_comment,
pre .javadoc,
pre .diff .header {
  color: #808080;
  font-style: italic;
}

pre .annotation,
pre .decorator,
pre .preprocessor,
pre .doctype,
pre .pi,
pre .chunk,
pre .shebang,
pre .apache .cbracket {
  color: #808000;
}

pre .tag,
pre .pi {
}

pre .tag .title,
pre .id,
pre .attr_selector,
pre .pseudo,
pre .literal,
pre .keyword,
pre .hexcolor,
pre .css .function,
pre .ini .title,
pre .css .class,
pre .list .title,
pre .tex .command {
  font-weight: bold;
  color: #000080;
}

pre .attribute,
pre .rules .keyword,
pre .number,
pre .date,
pre .regexp,
pre .tex .special {
  font-weight: bold;
  color: #0000ff;
}

pre .number,
pre .regexp {
  font-weight: normal;
}

pre .string,
pre .value,
pre .filter .argument,
pre .css .function .params,
pre .apache .tag {
  color: #008000;
  font-weight: bold;
}

pre .symbol,
pre .ruby .symbol .string,
pre .ruby .symbol .keyword,
pre .ruby .symbol .keymethods,
pre .char,
pre .tex .formula {
  color: #000;
  background: #d0eded;
  font-style: italic;
}

pre .phpdoc,
pre .yardoctag,
pre .javadoctag {
  text-decoration: underline;
}

pre .variable,
pre .envvar,
pre .apache .sqbracket,
pre .nginx .built_in {
  color: #660e7a;
}

pre .addition {
  background: #baeeba;
}

pre .deletion {
  background: #ffc8bd;
}

pre .diff .change {
  background: #bccff9;
}
